%social {
    background-color: #055346;
    width: 21%;
    height: 38%;
    border-radius: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    box-sizing: border-box;

    >h2 {
        color: #ebfffc;
        margin: 10px 0;
        font-weight: 700;
    }

    >h6 {
        color: #ef7a54;
        font-size: 110%;
    }
    >img{
        width: 30%;
    }
}
@mixin form($width,){
    width: $width;
    margin: 1%;
    background-color: unset;
    border-color: #ebfffc;
    border-radius: 22px;
    padding: 10px;
    box-sizing: border-box;

}